<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Gym Template">
  <meta name="keywords" content="Gym, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gym | Template</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../css/flaticon.css" type="text/css">
  <link rel="stylesheet" href="../../css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="../../css/barfiller.css" type="text/css">
  <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="../../css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head>

<body>

  <!-- Offcanvas Menu Section Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
      <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
      <i class="fa fa-search"></i>
    </div>
    <nav class="canvas-menu mobile-menu">
      <ul>
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a [routerLink]="'/sobre'">Sobre</a></li>
        <li><a [routerLink]="'/contato'">Contato</a></li>
      </ul>
    </nav>
    <div class="canvas-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  <!-- Offcanvas Menu Section End -->

  <!-- Header Section Begin -->
  <header class="header-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <a [routerLink]="'/home'">
              <img src="assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="nav-menu">
            <ul>
              <li class="active"><a [routerLink]="'/home'">Home</a></li>
              <li><a [routerLink]="'/sobre'">Sobre</a></li>
              <li><a [routerLink]="'/contato'">Contato</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="top-option">
            <div class="to-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas-open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <!-- Hero Section Begin -->
  <section class="breadcrumb-section set-bg" [style.background-image]="'url(assets/img/hero/hero-1.jpg)'">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="hero-text">
            <span>Dê forma ao seu corpo</span>
            <h1 class="hero-text">Seja <strong>forte</strong> treinando duro</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- ChoseUs Section Begin -->
  <section class="choseus-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>Por que nos escolher ?</span>
            <h2>AUMENTE SEUS LIMITES</h2>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col">
          <div class="cs-item">
            <span class="flaticon-034-stationary-bike"></span>
            <h4>Equipamento Morderno</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              dolore facilisis.</p>
          </div>
        </div>
        <div class="col">
          <div class="cs-item">
            <span class="flaticon-002-dumbell"></span>
            <h4>Plano de treinamento profissional</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              dolore facilisis.</p>
          </div>
        </div>
        <div class="col">
          <div class="cs-item">
            <span class="flaticon-014-heart-beat"></span>
            <h4>Exclusivo para suas necessidades</h4>
            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
              facilisis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ChoseUs Section End -->

  <!-- Classes Section Begin -->
  <section class="classes-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>Nossas aulas</span>
            <h2>O QUE PODEMOS OFERECER</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="class-item">
            <div class="ci-pic">
              <img src="assets/img/classes/class-1.jpg" alt="">
            </div>
            <div class="ci-text">
              <span>Cardio</span>
              <h4>Ciclismo indoor</h4>
              <a [routerLink]="'/contato'"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="class-item">
            <div class="ci-pic">
              <img src="assets/img/classes/class-4.jpg" alt="">
            </div>
            <div class="ci-text">
              <span>FORÇA</span>
              <h4>Weightlifting</h4>
              <a [routerLink]="'/contato'"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ChoseUs Section End -->

  <!-- Banner Section Begin -->
  <section class="banner-section set-bg" [style.background-image]="'url(assets/img/banner-bg.jpg)'">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="bs-text">
            <h2>Registre-se agora para obter mais ofertas</h2>
            <div class="bt-tips">Onde saúde, beleza e boa forma se encontram.</div>
            <a [routerLink]="'/contato'" class="primary-btn  btn-normal">Consulte</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section End -->

  <!-- Pricing Section Begin -->
  <section class="pricing-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>Nossos Planos</span>
            <h2>Escolha seu plano de preços</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8">
          <div class="ps-item">
            <h3>Mensal </h3>
            <div class="pi-price">
              <h2>R$ 99,00</h2>
            </div>
            <ul>
              <li>Equipamentos ilimitados</li>
              <li>Treinador pessoal</li>
              <li>Sem restrição de tempo</li>
            </ul>
            <a [routerLink]="'/contato'" class="primary-btn pricing-btn">Selecionar</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8">
          <div class="ps-item">
            <h3>Trimestral </h3>
            <div class="pi-price">
              <h2>R$ 99,00</h2>
            </div>
            <ul>
              <li>Equipamentos ilimitados</li>
              <li>Treinador pessoal</li>
              <li>Sem restrição de tempo</li>
            </ul>
            <a [routerLink]="'/contato'" class="primary-btn pricing-btn">Selecionar</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8">
          <div class="ps-item">
            <h3>Semestral </h3>
            <div class="pi-price">
              <h2>R$ 99,00</h2>
            </div>
            <ul>
              <li>Equipamentos ilimitados</li>
              <li>Treinador pessoal</li>
              <li>Sem restrição de tempo</li>
            </ul>
            <a [routerLink]="'/contato'" class="primary-btn pricing-btn">Selecionar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Pricing Section End -->

  <!-- Gallery Section Begin -->
  <div class="gallery-section">
    <div class="section-title">
      <span>Nosso espaço</span>
    </div>
    <div class="gallery">
      <div class="grid-sizer"></div>
      <div class="gs-item grid-wide set-bg" [style.background-image]="'url(assets/img/gallery/gallery-1.jpg)'">
      </div>
      <div class="gs-item set-bg" [style.background-image]="'url(assets/img/gallery/gallery-2.jpg)'"
        data-setbg="img/gallery/gallery-2.jpg">
      </div>
      <div class="gs-item set-bg" [style.background-image]="'url(assets/img/gallery/gallery-3.jpg)'"
        data-setbg="img/gallery/gallery-3.jpg">
      </div>
      <div class="gs-item set-bg" [style.background-image]="'url(assets/img/gallery/gallery-4.jpg)'"
        data-setbg="img/gallery/gallery-4.jpg">
      </div>
      <div class="gs-item set-bg" [style.background-image]="'url(assets/img/gallery/gallery-5.jpg)'"
        data-setbg="img/gallery/gallery-5.jpg">
      </div>
      <div class="gs-item grid-wide set-bg" [style.background-image]="'url(assets/img/gallery/gallery-6.jpg)'"
        data-setbg="img/gallery/gallery-6.jpg">
      </div>
    </div>
  </div>
  <!-- Gallery Section End -->


  <!-- Team Section Begin -->
  <section class="team-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="team-title">
            <div class="section-title">
              <span>Nosso Time</span>
              <h2>TREINE COM EXPERTS</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="">
          <div class="col-lg-4">
            <div class="ts-item set-bg" [style.background-image]="'url(assets/img/team/team-1.jpg)'">
              <div class="ts_text">
                <h4>Gabriell Felipe</h4>
                <span>Personal Trainer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section End -->

  <!-- Get In Touch Section Begin -->
  <div class="gettouch-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="gt-text">
            <i class="fa fa-map-marker"></i>
            <p>Av Visconde de Sao Domingues 161<br /> Vila do Conde</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gt-text">
            <i class="fa fa-mobile"></i>
            <ul>
              <li>11 95423-6497</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gt-text email">
            <i class="fa fa-envelope"></i>
            <p>gabriell.marquesef@hotmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Get In Touch Section End -->


  <!-- Footer Section Begin -->
  <section class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="fs-about">
            <div class="fa-logo">
              <a [routerLink]="'/home'"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore dolore magna aliqua endisse ultrices gravida lorem.</p>
            <div class="fa-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa  fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="copyright-text">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Search here.....">
      </form>
    </div>
  </div>
  <!-- Search model end -->

  <!-- Js Plugins -->
  <script src="../../js/jquery-3.3.1.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/jquery.magnific-popup.min.js"></script>
  <script src="../../js/masonry.pkgd.min.js"></script>
  <script src="../../js/jquery.barfiller.js"></script>
  <script src="../../js/jquery.slicknav.js"></script>
  <script src="../../js/owl.carousel.min.js"></script>
  <script src="../../js/main.js"></script>



</body>

</html>
